[Unit]
Description=allanin
After=graphical.target
ConditionKernelCommandLine=!allanin=0
Requires=graphical.target

[Service]
User=allanin
ExecStart=/usr/bin/retroarch
KillMode=process
TimeoutStopSec=10
Restart=always
RestartSec=2
StartLimitInterval=0

[Install]
WantedBy=allanin.target
